#title{
    color:blue;
    font-size:70px;
}
#one{
    color:white;
    font-size:10px;
    padding:5px;
    margin:50px;
    border-width:10px;
    border-color:red;
    border-style:solid;
    background-color: green;
}