body{
    background-color:black;
    color:white;
}
h1{
    text-align:center;
}
#one{
    margin-left:45%;
    width:100px;
    height:40px;
    border-radius:20px;
}
#one:hover{
    background-color: blue;
    color:white;
}
#one:active{
    background-color: green;
    opacity:0.7;
}
#output{
    width:1500px;
}
table{
    margin-top:50px;
    margin-left:33%;
    border:5px;
    width:500px;
   text-align: center;
   font-size:20px;
}
th,tr{
    border-collapse: collapse;
    padding:15px 15px;
    text-align: center;
}