*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-color: darkmagenta;

}
.Title{
    color:white;
    text-align: center;
    padding:10px;
}
.container{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    gap:20px;
    padding:20px;
}
.container div{
    width:200px;
    color:white;
    margin:0;
    text-align: center;
    flex-basis: 20%;
}
.container div img {
  width: 100%;
  height: 140px;           
  object-fit: cover;       
  display: block;          
  border-radius: 4px;    
}