html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background-color: #151522;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  width: 90%;
  height: 90%;
  visibility: hidden;
}
