html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: cyan;
    color: black;
}

h1 {
    text-align: center;
}

button {
    margin-left: 47%;
    color: white;
    background-color: black;
}

button:hover {
    background-color: red;
    color: yellow;
}

button:active {
    opacity: 0.7;
}

#output {
    margin-top: 20px;
}

.student {
    background-color: white;
    padding: 12px;
    margin-bottom: 10px;
    border-left: 5px solid #007bff;
}
