.one{
    background-color: black;
    color:white;
    width:120px;
    height:35px;
    border:none;
    font-style: normal;
    cursor:pointer;
    border-color: white;
    border-style: none;
}
.two{
    background-color: yellow;
    width:170px;
    height:35px;
    border-radius:20px;
    border-color: white;
    border-style: none;
    cursor:pointer;
    margin-top:10px;
}
.three{
    background-color: rgb(46,164,79);
    color:white;
    border-color:green;
    border-style:none;
    width:100px;
    height:35px;
    border-radius:10px;
    margin-top:10px;
     cursor:pointer;
}
.a{
    background-color: rgb(121,82,179);
    color:white;
    width:100px;
    height:35px;
    border-radius:10px;
    margin-top:10px;
     cursor:pointer;
}
.b{
    background-color:white;
    width:100px;
    height:35px;
    border-radius:10px;
    margin-left:10px;
     cursor:pointer;
}
.c{
    background-color: blue;
    color:white;
    margin-top:10px;
    border-radius:10px;
    width:200px;
    height:35px;
     cursor:pointer;
}
.d{
    background-color: white;
    color:blue;
    margin-left:10px;
    border-radius:20px;
    height:30px;
    width:70px;
}