body{
    margin:0;
    background-color: black;
    font-family: Arial, sans-serif;
}

h1{
    text-align:center;
    color:yellow;
}

h1:hover{
    color:red;
    cursor:pointer;
}

#games{
    text-align:center;
    color:green;
}

h2{
    text-align:center;
    color:white;
}

.one{
    padding:15px;
    background-image: linear-gradient(90deg,red,yellow);
    border-radius: 40px;
    color:white;
    border:none;
    font-size:20px;
    margin-top:20px;
}

.one:hover{
    background-image: linear-gradient(90deg,cyan,blue);
    transform: scale(1.1);
    cursor: pointer;
}

.one:active{
    background-image:linear-gradient(90deg,black,white);
}

.i{
    display:flex;
    justify-content: center;
    gap:15px;
}

.tab{
    border-collapse: collapse;
    margin: auto;
    margin-top: 20px;
    box-shadow: 0px 0px 10px white;
}

th,td{
    color:white;
    padding:13px;
    text-align: center;
    border:1px solid white;
}

.r{
    display:flex;
    justify-content: center;
}